<div class="caselog-input">
  <form action="#" method="get" class="cf">
    <div class="text">
      <label for="caselog-entry-text" class="struct">Ärende</label>
      <textarea name="caselog-entry-text" id="caselog-entry-text" cols="70" rows="3" placeholder="Skriv ditt meddelande här" data-ng-model="caseLogEntryToCreate"></textarea>
    </div>
    <div class="send">
      <button data-ng-click="submitCaseLogEntry($event)" name="caselog-entry-submit">Lägg till loggpost</button>
    </div>
  </form>
</div>