// ------------------------------------------------------------------
// NOTICE file corresponding to the section 4d of The Apache License,                                                                                               
// Version 2.0
// ------------------------------------------------------------------

${product}(tm) ${subproduct}
Copyright ${project.inceptionYear} ${company}

Streamsource AB (Swedish organization number 556777-9896), Hans Michelsensgatan 9, S-211 20 Malmö, Sweden
This is the Innoveta project edition of ${company}'s ${product} product.

This product includes software developed by ${company}.


#foreach ( $project in $projects )
--
This product includes software, $project.name, developed by                                                                                                   
$project.organization.name ($project.organization.url).
License:
#foreach ( $license in $project.licenses )
$license.name
$license.url    
#end
#end
