// -------------------------------------------------------------------
// NOTICE file
// -------------------------------------------------------------------

${product}(tm) ${subproduct}
Copyright ${project.inceptionYear} ${company}

Streamsource AB (Swedish organization number 556777-9896),
Hans Michelsensgatan 9, S-211 20 Malmo, Sweden


This product includes software developed by ${company}.


#foreach ( $project in $projects )
--
This product includes software, $project.name, developed by                                                                                                   
$project.organization.name ($project.organization.url).
License:
#foreach ( $license in $project.licenses )
$license.name
$license.url    
#end
#end
