// ------------------------------------------------------------------
// NOTICE file corresponding to the section 4d of The Apache License,                                                                                               
// Version 2.0
// ------------------------------------------------------------------

${project.name}
Copyright ${project.inceptionYear} ${project.organization.name}

Streamsource AB (Swedish organization number 556777-9896), Hans Michelsensgatan 9, S-211 20 Malmö, Sweden
This is the Innoveta project edition of the Streamsource Streamflow product.

This product includes software developed by
${project.organization.name}.


#foreach ( $project in $projects )
--
This product includes software, $project.name, developed by                                                                                                   
$project.organization.name ($project.organization.url).
License:
#foreach ( $license in $project.licenses )
$license.name
$license.url    
#end
#end
