<form data-ng-submit="search(query)" role="search">
  <fieldset>
    <label for="main-searchtext" class="struct">Sök</label>
    <input type="search" placeholder="Sök" id="main-searchtext" data-ng-model="query" data-ng-focus="toggleSearchTerms(true)" data-ng-blur="toggleSearchTerms(false)">
    <button type="submit" class="icon-search"><span>Sök</span></button>
  </fieldset>
</form>
<div class="search-terms" data-ng-show="showSearchTerms">
  <div class="due-date-divider">
    <span>Lägg till sökterm</span>
  </div>
  <button data-ng-click="addSearchTermToQuery($event)" data-ng-repeat="(searchTerm, translation) in searchTerms">{{searchTerm}}</button>
</div>
