<form data-ng-submit="search(query)" role="search">
  <fieldset>
    <label for="main-searchtext" class="struct">Sök</label>
    <input data-ng-model="query" type="text" placeholder="Sök" id="main-searchtext" data-ng-focus="showSearchTerms = true" data-ng-blur="showSearchTerms = false" required>
    <button type="submit" class="icon-search"><span>Sök</span></button>
  </fieldset>
</form>
<div class="search-terms" data-ng-show="showSearchTerms">
  <div class="due-date-divider">
    <span>Lägg till sökterm</span>
  </div>
  <button data-ng-click="addSearchTermToQuery($event)" data-ng-repeat="(searchTerm, translation) in searchTerms">{{translation}}</button>
</div>
<!-- /main-search -->
