<div class="content-secondary" role="complementary">

  <h2 class="struct">Verktyg och annan information</h2>

  <!-- Issue toolbar -->
  <div class="toolbar">
    <a href="" ng-click="changeOwner()" class="btn">Byt ägare</a>
    <a href="" ng-click="assign()" class="btn">Tilldela</a>
    <a href="" ng-click="closeCase()" class="btn">Stäng</a>
    <a href="" ng-click="moreCommands()" class="btn dropdown">Mer</a>
    <a href="" ng-click="deleteCase()" class="btn dropdown">Radera</a>
  </div>
  <!-- /Issue toolbar -->

  <!-- Module: Allmänt -->
  <div class="m m-general">
    <div class="m-h">
      <h2>Allmänt</h2>
    </div>
    <div class="m-c">
      <div class="m-box">
        <ul>
          <li><strong>Ägare:</strong> {{ case[0].owner }}</li>
          <li><strong>Handläggare:</strong> {{ case[0].assignedTo }}</li>
          <li ng-show="general[0].priority.text"><strong>Prioritet:</strong> {{ general[0].priority.text }}</li>
          <li><strong>Kund:</strong> TODO TODOsson 19760901-4046</li>
          <li ng-show="general[0].dueOn"><strong>Förfallodatum:</strong> {{ general[0].dueOn | longDate }}</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Module: Allmänt -->

  <!-- Module: Konversationer -->
  <div class="m m-convos">
    <div class="m-h">
      <h2>Konversationer</h2>
    </div>
    <div class="m-c">
      <ul>
        <li ng-repeat='conversation in conversations'>
          <a href="#/{{ projectId }}/{{ projectType }}/{{ case[0].id }}/conversation/{{ conversation.id }}" class="block-link">
            <h3>{{ conversation.text }}</h3>
            <span class="date">{{ conversation.creationDate | dateTime }}</span>
            <ul class="convo-status">
              <li class="icon-user" title="{{ conversation.participants }} användare i konversationen">{{ conversation.participants }} <span class="struct">användare i konversationen</span></li>
              <li class="icon-chat" title="{{ conversation.messages }} meddelanden i konversationen">{{ conversation.messages }} <span class="struct">meddelanden i konversationen</span></li>
            </ul>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- /Module: Konversationer -->

  <!-- Module: Kontakter -->
  <div class="m m-contacts">
    <div class="m-h">
      <h2>Kontakter</h2>
    </div>
    <div class="m-c">
      <ul class="zebra-list">
        <li ng-repeat='contact in contacts'>
        <a ng-click="showContact(contact.id)" href="">{{contact.name}}</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- /Module: Kontakter -->

  <!-- Module: Bifogade filer -->
  <div class="m m-attachments">
    <div class="m-h">
      <h2>Bifogade filer</h2>
    </div>
    <div class="m-c">
      <ul class="zebra-list">
        <li ng-class-odd="'odd'" ng-repeat="attachment in attachments" ng-odd=>
        <a ng-click="downloadAttachment(attachment.id)" href="">{{ attachment.text }}</a>
        <a ng-click="deleteAttachment(attachment.id)" href="" class="delete" title="Radera fil">Radera fil</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- /Module: Bifogade filer -->

  <!-- Module: Ärendelogg -->
  <div class="m m-issuelog">
    <div class="m-h">
      <h2>Ärendelogg</h2>
    </div>
    <div class="m-c">
      <table class="log-table">
        <caption class="struct">Historik för detta ärende</caption>
        <thead class="struct">
          <tr>
            <th>Datum</th>
            <th>Titel</th>
            <th>Användare</th>
          </tr>
        </thead>
        <tbody>
        <tr ng-repeat="entry in caseLog" ng-class-even="'even'">
          <td>{{ entry.creationDate | shortDate}}</td>
          <td>{{ entry.text }}</td>
          <td>{{ entry.creator }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- /Module: Ärendelogg -->
<!-- <pre><code>{{ form[0] | json }}</code></pre> -->
</div>
