<div class="content-primary" role="main">

    <form action="#" method="get" class="form-general">

        <!-- Module: Ärendebeskrivning & taggar -->
        <div class="m">
            <div class="m-h">
                <h2>{{case[0].caseId}}</h2>
                <a href="#/{{ projectId }}/{{ projectType }}/{{ case[0].id }}/" title="Tillbaka" style="float: right; ">Tillbaka</a>
                <div class="choose-type">
                    <label class="struct" for="issue-type">Ärendetyp</label>
                    <select ng-model="general[0].caseType.id"
                        name="entity" id="issue-type"
                        ng-options="option.value as option.name for option in possibleCaseTypes" sf-simple-field-auto-send data-resource="general" command="casetype">
              </select>
                </div>
                <div class="set-due-date">
                    <label class="struct" for="set-due-date">Förfallodatum</label>
                    <input type="text" sf-date-picker name="date" data-input-type="date" id="set-due-date" placeholder="Förfallodatum" ng-model="general[0].dueOnShort" sf-simple-field-auto-send data-resource="general" command="changedueon" />
                </div>
            </div>
            <div class="m-c">

                <div class="row cols-1 cf">
                    <div class="text col full col-1">
                        <label for="case-description">Beskrivning</label>
                        <input type="text" sf-simple-field-auto-send data-resource="general" command="changedescription" name="description" id="case-description" ng-model="case[0].text">
                    </div>
                </div>

                <div class="row cols-1 cf">
                    <div class="text col full col-1">
                        <label for="issue-notes">Notering</label>
                        <textarea disabled name="issue-notes" id="issue-notes" cols="30" rows="5">{{notes[0]}}</textarea>
                    </div>
                </div>
            </div>

        </div>
        <!-- /Module: Ärendebeskrivning & taggar -->

    </form>
</div>

<!-- Content secondary -->
<ng-include class="m-c" src="'modules/views/case-sidebar.html'"></ng-include>
