#*
 *
 * Copyright (c) 2009-2011 Streamsource AB <www.streamsource.se>
 * All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#

<?xml version="1.0" encoding="utf-8"?>
<jnlp
    spec="1.0+"
    codebase="$$codebase"
    href="$outputFile">
  <information>
    <title>Streamflow</title>
    <homepage href="${project.url}"/>
    <vendor>${project.organization.name}</vendor>
    <description kind="one-line">${project.organization.name}&#0153; Client</description>
    <description kind="short">This is the ${project.organization.name} client</description>
    <description kind="tooltip">${project.organization.name}</description>
    <icon
      width="150"
      height="150"
      href="images/symbol_150.png"/>
    <icon
      kind="splash"
      href="images/Streamflow_cmyk_500px.png"/>
    <offline-allowed/>
    <shortcut online="false">
      <desktop/>
      <menu submenu="Streamsource"/>
    </shortcut>
    <association extensions="case" mime-type="application/x-streamflow-case+json">
    </association>
  </information>
  <security>
     <all-permissions/>
  </security>
  <resources>
    <j2se version="1.5+"
     java-vm-args=""
     initial-heap-size="64m"
     max-heap-size="300m"
     />
    #set($start = '<jar href=\"streamflow-help-sv_gov-')
    #set($middle = ${project.version})
    #set($end = '.jar\"/>')

    $dependencies.replaceAll( "$start$middle$end", "")
    <jar href="streamflow-help-sv_gov-${project.version}.jar" locale="sv_gov"/>


  </resources>

  <application-desc main-class="$mainClass"/>
</jnlp>
